body{
background:#111;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
font-family:sans-serif;
}

.container{
text-align:center;
}

h1{
color:white;
font-size:60px;
}

button{
padding:15px 30px;
margin:10px;
font-size:20px;
cursor:pointer;
border:none;
border-radius:10px;
}