body{
background:#111;
color:white;
text-align:center;
padding-bottom:120px;
}

#grid{
display:grid;
grid-template-columns:repeat(10,60px);
gap:5px;
justify-content:center;
margin-top:20px;
}

.tile{
width:60px;
height:60px;
border-radius:5px;
cursor:pointer;
}

#progressBar{
position:fixed;
bottom:0;
left:0;
width:100%;
background:black;
display:flex;
justify-content:space-around;
padding:35px;
font-size:32px;
z-index:1000;
}

#claimedColors{
margin-top:15px;
font-size:20px;
font-weight:bold;
}

.tile.found{
border:4px solid white;
box-sizing:border-box;
}
