body{
background:#222;
color:white;
text-align:center;
}

#grid{
display:grid;
grid-template-columns:repeat(10,60px);
gap:5px;
justify-content:center;
margin-top:20px;
}

.tile{
width:60px;
height:60px;
cursor:pointer;
border-radius:5px;
}
